<div> 
  <mat-toolbar color="primary" fxLayout="row" style="min-height: 74px;">
    <a mat-button routerLink="/" class="companyName">
        <img src="./assets/images/pug_logo.png" width="50" height="50">
        <span>Cinema Pug</span>
    </a>
    <span class="fill-space"></span>
    <div fxShow="true" fxHide.lt-md="true" fxLayout="row" fxLayoutGap="30px">
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span><span class="margin-left"> Home</span></a>
        <a mat-button routerLink="/movies" routerLinkActive="active"><span class="fa fa-list fa-lg"></span><span class="margin-left"> Movies</span></a>
        <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span><span class="margin-left"> About</span></a>
        <a mat-button (click)="openLoginForm()"><span class="fa fa-user fa-lg"></span><span class="margin-left"> Account</span></a>
    </div>
    <!--<span class="fill-space"></span>-->
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>menu</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button class="min-width" mat-menu-item><a mat-button class="zero-margin" routerLink="/home" routerLinkActive="active-menu"><span class="fa fa-home fa-lg"></span><span class="margin-left"> Home</span></a></button>
            <button class="min-width" mat-menu-item><a mat-button class="zero-margin" routerLink="/movies" routerLinkActive="active-menu"><span class="fa fa-list fa-lg"></span><span class="margin-left"> Movies</span></a></button>
            <button class="min-width" mat-menu-item><a mat-button class="zero-margin" routerLink="/about" routerLinkActive="active-menu"><span class="fa fa-info fa-lg"></span><span class="margin-left"> About</span></a></button>
            <button class="min-width" mat-menu-item><a mat-button class="zero-margin" (click)="openLoginForm()"><span class="fa fa-user fa-lg"></span><span class="margin-left"> Account</span></a></button>
        </mat-menu>
    </div>
  </mat-toolbar>
</div>