<mat-toolbar color="primary" *ngIf="isLogin && !isForgotPass">
  <img src="./assets/images/pug_logo.png" width="50" height="50">
  <span>Login</span>
  <span  class="fill-space"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!isLogin && !isForgotPass">
  <img src="./assets/images/pug_logo.png" width="50" height="50">
  <span>Sign up</span>
  <span  class="fill-space"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isForgotPass">
  <img src="./assets/images/pug_logo.png" width="50" height="50">
  <span>Reset password</span>
  <span  class="fill-space"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div class="tab-content" *ngIf="isLogin && !isForgotPass">
        <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmitLogin()" fxLayoutGap="15px" fxLayout="column">
            <p fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Email" type="text" [(ngModel)]="loginUser.username" name="username"  #username="ngModel" required>
                    <mat-error *ngIf="username.errors?.required">Email is required</mat-error>
                    </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" [(ngModel)]="loginUser.password" name="password" #password="ngModel" required>
                    <mat-error *ngIf="password.errors?.required">Password is required!</mat-error>
                </mat-form-field>
            </p>
            <div fxLayoutAlign="center">
                <mat-slide-toggle color="accent" [(ngModel)]="loginUser.remember" name="remember">Remember me</mat-slide-toggle>
            </div>
            <div fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="login-buttons" type="button" (click) ="isLoginChange()">Sign Up</button>
                <button mat-raised-button color="primary" class="login-buttons" type="submit" [disabled]="loginForm.form.invalid">Login</button>
            </div>
            <div fxLayoutAlign="center">
                <a class="forgot-pass" (click)="forgotPassChange()">Forgot password?</a>
            </div>
            <div fxLayoutAlign="center">
                <mat-error *ngIf="loginError">{{loginError}}</mat-error>
            </div>
        </form>
</div>

<div class="tab-content" *ngIf="!isLogin && !isForgotPass">
        <form novalidate [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()" fxLayoutGap="15px" fxLayout="column">
            <p fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Email" type="text" formControlName="username">
                    <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
                    </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Phone number" type="text" formControlName="phone">
                    <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
                </mat-form-field>
            </p>
            <p fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="First name" type="text" formControlName="firstName">
                    <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
                    </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Last name" type="text" formControlName="lastName">
                    <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
                </mat-form-field>
            </p>
            <p fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                    <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Password again" type="password" formControlName="passwordAgain" [errorStateMatcher]="errorMatcher">
                    <mat-error *ngIf="formErrors.passwordAgain">{{formErrors.passwordAgain}}</mat-error>
                </mat-form-field>
            </p>
            <mat-dialog-actions fxLayoutAlign="center">
                <button mat-raised-button color="accent"  class="signup-buttons" type="button" (click) ="isLoginChange()">Login</button>
                <button mat-raised-button color="primary" class="signup-buttons"  type="submit" [disabled]="signupForm.invalid">Sign up</button>
            </mat-dialog-actions>
            <div fxLayoutAlign="center">
                <mat-error *ngIf="signupError">{{signupError}}</mat-error>
            </div>
        </form>
</div>

<div class="tab-content" *ngIf="isForgotPass">
        <form novalidate #resetPassForm="ngForm" (ngSubmit)="onSubmitResetPass()" fxLayout="column" fxLayout="center center">
            <div fxLayout="column"  fxLayoutGap="15px" class="forgot-pass-container">
                <div fxLayoutAlign="center" fxLayout="column">
                    <h4>Please provide your email address to reset your password</h4>
                    <mat-form-field>
                        <input matInput placeholder="Email" type="text" [(ngModel)]="resetPassUser.email" name="email"  #email="ngModel" required>
                        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center">
                    <button mat-raised-button color="primary"  type="submit" [disabled]="resetPassForm.form.invalid">Reset password</button>
                </div>
                <div fxLayoutAlign="center">
                    <button mat-raised-button color="accent" class="forgot-pass-buttons" type="button" (click) ="leaveForgotPass('signup')">Sign Up</button>
                    <button mat-raised-button color="accent" class="forgot-pass-buttons" type="button" (click) ="leaveForgotPass('login')">Login</button>
                </div>
            </div>
        </form>
</div>