
.tab-content {
    margin: 25px !important;
}

button {
    min-width: 80px !important;
}

.login-buttons {
    margin: 50px 5px 5px 5px!important;  
}

form {
    min-height: 380px !important;
}


img{
    margin: auto !important;
}


.signup-buttons {
    margin-top: 15px 5px !important;
}

m.at-checkbox .mat-checkbox-frame {
    transform: scale(1.5) !important;
    
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(1.5) !important;
    
}

.forgot-pass {
    text-decoration: none !important;
    color: #3F51B5 !important;
}

.forgot-pass:hover{
    color: #FF4081 !important;
}

.forgot-pass-buttons{
    margin: 50px 5px !important;  
}

.forgot-pass-container {
    margin: auto !important;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}