
.card {
    max-width: 350px;
    margin-bottom: 20px;
    height: 680px;
    }

mat-card-content{
    height: 75px;
}

.action-button{
    margin: 0px 5px 0px 0px !important;
    padding: 0px !important;
}

  .header-image {
    background-size: cover;
    height: 50px;
    width: 50px;
  }

img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    height: 450px;
  }

  h1{
      margin-left: 50px;
  }
