<div class="container-movies" fxLayout="column">
    <div id="container-date-form">
        <form fxLayout="row" 
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutAlign="center"
            novalidate [formGroup]="filterForm">
            <h1 class="header-title">Now playing</h1>
            <span class="fill-space"></span>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label>Select a movie</mat-label>
                    <mat-select formControlName="movie">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor = "let movie of movies" value="{{movie.title}}">{{movie.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    <div>
    <div fxLayout="row wrap"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-around center" *ngIf ="showTimes && movies">
        <mat-card class="card" *ngFor = "let movie of filteredMovies">
            <mat-card-header>
                <div mat-card-avatar class="header-image" [style.backgroundImage]="'url('+ movie.pegiRating +')'"></div>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>{{movie.category}} - {{movie.duration}} Min</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{movie.posterPath}}>
            <mat-card-content>
                <p>{{movie.synopsis}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="action-button" *ngFor="let id of movie.showTimes"mat-raised-button color="primary" (click)="openReservationForm(id)">{{returnShowTime(id)}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>




