.tab-content {
    margin-top: 25px;
    min-height: 250px;
}

.label{
    margin-top: 22px;
}



button{
    width: 100px;
}

.wrapper {
    text-align: center;
}

.checkbox{
    width: 15px !important;
    height: 13px !important;
    margin: 5px;
}

.zero-margin{
    margin: 0px !important;
}

.margin-top{
    margin-top: 50px !important;
}