<mat-toolbar color="primary">
   <span>Ticket Reservation</span>
  <span class="fill-space"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<mat-tab-group #tabs>
  <mat-tab label="Tickets" [disabled]="ticketsChoosen"> 
    <div class="tab-content">
        <h4>Please select your ticket type(s)</h4>
        <form  fxLayoutGap="10px" novalidate [formGroup]="ticketForm" (ngSubmit)="onSubmitTicket()">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <span class="label fa fa-graduation-cap fa-lg" fxFlex="5" matTooltip="People with valid student card"></span>
                <label class="label" fxFlex="20" fxFlex.xs="25">1.250 HUF</label>
                <mat-form-field fxFlex="column" fxFlex="55">
                    <input fxFlex type="number" min="0" class="form-control" matInput name="value" placeholder="Number of stundet tickets"  formControlName="value" max="10" formControlName="student">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <span class="label fa fa-book fa-lg" fxFlex="5" matTooltip="People over 60"></span>
                <label class="label" fxFlex="20" fxFlex.xs="25">1.250 HUF</label>
                <mat-form-field fxFlex="column" fxFlex="55">
                    <input fxFlex type="number" min="0" class="form-control" matInput name="value" placeholder="Number of elderly tickets"  formControlName="value" max="10" formControlName="elderly">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <span class="label fa fa-user fa-lg" fxFlex="5"></span>
                <label class="label" fxFlex="20" fxFlex.xs="25">1.450 HUF</label>
                <mat-form-field fxFlex="column" fxFlex="55">
                    <input fxFlex type="number" min="0" class="form-control" matInput name="value" placeholder="Number of normal tickets"  formControlName="value" max="10" formControlName="normal">
                </mat-form-field>
            </div>
            <p><label>Total price: {{totalPrice}} HUF</label></p>
            <div fxLayoutAlign="center">
                <button mat-raised-button color="primary" [disabled]="!ticketFormValid" class="button">Next</button>
            </div>
        </form>
    </div>
  </mat-tab>
  <mat-tab label="Seats" [disabled]="!ticketsChoosen || seatsChoosen">
    <div class="tab-content" fxLayout="column" *ngIf="cinemaHall && seats">
        <h4 class="zero-margin">Please select seat(s)</h4>
        <mat-divider ></mat-divider>
        <div fxLayout="row wrap" fxLayoutAlign="center"  fxLayoutGap="10px">
            <table  *ngFor="let section of sections; let iSection = index">
                <tr *ngFor = "let row of rows[iSection]; let i = index">
                    <th *ngIf="iSection==0" >{{i+1}}</th>
                    <td *ngFor = "let col of cols[iSection]; let ii = index"><mat-checkbox class="checkbox" [disabled] = "!isSeatFree(ii + section.colStart,i+1)" 
                    (change)="setRowCor(ii+ section.colStart,i+1); onCheckboxChange($event)" [checked]="seatCheckboxes[i][ii+ section.colStart-1]"></mat-checkbox></td>
                </tr>
            </table>
        </div>
        <div fxLayoutAlign="center" class="margin-top" fxFlex>
            <button mat-raised-button color="primary" [disabled]="!seatsValid" class="button" (click) ="onSubmitSeats()">Next</button>
        </div>   
    </div>
   </mat-tab>
    <mat-tab label="User information" [disabled]="!seatsChoosen">
        <div class="tab-content">
            <h4 class="margin-bottom">Please provide your user information</h4>
            <form  fxLayoutGap="5px" novalidate [formGroup]="userForm" (ngSubmit)="onSubmitUser()" fxLayout="column" fxLayoutAlign="center">
                <mat-form-field fxFlex >
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex >
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex >
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input matInput placeholder="+36 30 776 8012" formControlName="phone">
                    <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
                </mat-form-field>
                <div fxLayoutAlign="center" fxFlex>
                    <button mat-raised-button color="primary" [disabled]="userForm.invalid" class="button">Next</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>