/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

.container-main{
    min-height: 80%;
    margin: 0px 70px 0px 70px;
}

@media (max-width: 978px) {
    .container-main {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}
app-root{
    min-height: 100%;
}

app-movies{
    min-height: 100%;
}

app-about{
    min-height: 100%;
}

app-home{
    min-height: 100%;
}