/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome.scss';



// For Dark Theme
input {
  color: white !important;
}

body{
    background-color: #303030 !important;
}

$rgb: 250;
.mat-elevation-z24 {
    box-shadow: 0 16px 24px 2px rgba($rgb, $rgb, $rgb, 0.14), 
                0 6px 30px 5px rgba($rgb, $rgb, $rgb, 0.12), 
                0 8px 10px -5px rgba($rgb, $rgb, $rgb, 0.3);
  }

//

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif; 
}

html, body { height: 100%}; 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

.container-main{
    min-height: 80%;
    margin: 0px 70px 0px 70px;
}

@media (max-width: 978px) {
    .container-main {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}

.highlight {
    margin-top: -25px !important;
}

app-root{
    min-height: 100%;
}

app-movies{
    min-height: 100%;
}

app-about{
    min-height: 100%;
}

app-home{
    min-height: 100%;
}

.mat-dialog-container {
    max-width: 100vw !important;
    padding: 0 !important;
}

.mat-tab-group {
    max-width: 100vw !important;
    padding: 0px 25px 0px 25px !important;
}

.card-image{
    border-bottom: 3px solid mat-color($primaryPalette);
}
