<div class="home-container" *ngIf = "movies">
    <div [ngStyle]="{background: 'url(' + featuredMovie.coverPath + ')'}" 
        *ngIf="featuredMovie" class="featured-movie" fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="60"></div>
        <div class="featured-movie-actions" fxLayout="row" fxFlex="10"> 
            <button mat-button (click) = "changeFeaturedMovie(featuredMovie._id)"><span class="fa fa-chevron-left fa-lg chevron"></span></button>
            <span class="fill-space"></span>
            <button mat-button (click) = "changeFeaturedMovie(featuredMovie._id)"><span class="fa fa-chevron-right fa-lg chevron"></span></button>
        </div>
        <div fxFlex="20"></div>
        <div fxLayout="column" fxLayoutAlign="center" fxFlex="20">
            <a mat-button routerLink="/movies"><h1 id="title">{{featuredMovie.title | uppercase}}</h1></a>
            <a mat-button routerLink="/movies"><h1 routerLink="/movies" id="caption"><span>CHECK OUT THE </span><span id="showtime">SHOWTIMES</span></h1></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxFlex="10">
            <button mat-button *ngFor = "let movie of movies; let i = index" (click) = "selectFeaturedMovie(i)" id="{{'min' + i}}"><span class="fa fa-window-minimize fa-lg minimize"></span></button>
        </div>
    </div>

    <div id="now-playing" fxLayout="column" fxLayoutAlign="center"> 
        <div fxLayout="row" fxLayoutAlign="center"  fxLayoutGap="15px">
            <h1 id="now-playing-header" class="now-playing-title title-selected" (click)="changeNowPlaying()">Now playing</h1>
            <h1 class="slash"> / </h1>
            <h1 id="coming-soon-header" class="coming-soon-title" (click)="changeNowPlaying()">Coming soon</h1>
        </div>
        <div  fxLayout="row"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutGap="35px"
            fxLayoutAlign="center center"
            id="card-container" *ngIf="isNowPlaying">
            <mat-card class="nowPlaying-card" *ngFor="let movie of nowPlaying" appHighlight>
                <img mat-card-image src={{movie.posterPath}} width="250px" height="500px" class="card-image">
                <mat-card-actions fxLayout="row">
                    <a mat-button color="ascent" fxLayout="column" fxLayoutAlign="center"><span class="fa fa-play fa-lg"></span></a>
                    <span class="fill-space"></span>
                    <h4>{{movie.title | uppercase}}</h4>
                    <span class="fill-space"></span>
                    <a mat-button color="ascent" routerLink="/movies" fxLayout="column" fxLayoutAlign="center"><span class="fa fa-ticket fa-lg"></span></a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div  fxLayout="row"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutGap="35px"
            fxLayoutAlign="center center"
            id="card-container" *ngIf="!isNowPlaying">
            <mat-card class="nowPlaying-card" *ngFor="let movie of comingSoon" appHighlight>
                <img mat-card-image src={{movie.posterPath}} width="250px" height="500px" class="card-image">
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <a mat-button color="ascent" fxLayout="column" fxLayoutAlign="center"><span class="fa fa-play fa-lg"></span></a>
                    <span class="fill-space"></span>
                    <h4>{{movie.title | uppercase}}</h4>
                    <span class="fill-space"></span>
                    <a mat-button color="ascent" fxLayout="column" fxLayoutAlign="center"><span class="fa fa-info-circle fa-lg"></span></a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>





